# **Setup Spark Enviornment**

In [0]:
# setup spark enviornment on google colab
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-eu.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

In [0]:
import findspark
findspark.init("spark-2.4.4-bin-hadoop2.7")  # SPARK_HOME
#from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import col, asc, desc
import pyspark.sql.functions as F
import sys

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [6]:
# connect google drive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [7]:
# copy data from google drive to colab
cp -rvf drive/My\ Drive/mimic-iii-clinical-database-1.4 .

'drive/My Drive/mimic-iii-clinical-database-1.4' -> './mimic-iii-clinical-database-1.4'
'drive/My Drive/mimic-iii-clinical-database-1.4/.DS_Store' -> './mimic-iii-clinical-database-1.4/.DS_Store'
'drive/My Drive/mimic-iii-clinical-database-1.4/CAREGIVERS.csv' -> './mimic-iii-clinical-database-1.4/CAREGIVERS.csv'
'drive/My Drive/mimic-iii-clinical-database-1.4/CALLOUT.csv' -> './mimic-iii-clinical-database-1.4/CALLOUT.csv'
'drive/My Drive/mimic-iii-clinical-database-1.4/ADMISSIONS.csv' -> './mimic-iii-clinical-database-1.4/ADMISSIONS.csv'
'drive/My Drive/mimic-iii-clinical-database-1.4/NOTEEVENTS.csv' -> './mimic-iii-clinical-database-1.4/NOTEEVENTS.csv'

# **Data Preparation**

In [0]:
# import org.apache.spark.sql.functions._
# import sqlContext.implicits._

admission_file_path = './mimic-iii-clinical-database-1.4/ADMISSIONS.csv'
df_admission = spark.read.csv(admission_file_path, inferSchema=True, header=True)

In [31]:
df_admission.printSchema()

root
 |-- ROW_ID: integer (nullable = true)
 |-- SUBJECT_ID: integer (nullable = true)
 |-- HADM_ID: integer (nullable = true)
 |-- ADMITTIME: timestamp (nullable = true)
 |-- DISCHTIME: timestamp (nullable = true)
 |-- DEATHTIME: timestamp (nullable = true)
 |-- ADMISSION_TYPE: string (nullable = true)
 |-- ADMISSION_LOCATION: string (nullable = true)
 |-- DISCHARGE_LOCATION: string (nullable = true)
 |-- INSURANCE: string (nullable = true)
 |-- LANGUAGE: string (nullable = true)
 |-- RELIGION: string (nullable = true)
 |-- MARITAL_STATUS: string (nullable = true)
 |-- ETHNICITY: string (nullable = true)
 |-- EDREGTIME: timestamp (nullable = true)
 |-- EDOUTTIME: timestamp (nullable = true)
 |-- DIAGNOSIS: string (nullable = true)
 |-- HOSPITAL_EXPIRE_FLAG: integer (nullable = true)
 |-- HAS_CHARTEVENTS_DATA: integer (nullable = true)

In [32]:
df_admission.show(10)

+------+----------+-------+-------------------+-------------------+-------------------+--------------+--------------------+--------------------+---------+--------+-----------------+--------------+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+
|ROW_ID|SUBJECT_ID|HADM_ID|          ADMITTIME|          DISCHTIME|          DEATHTIME|ADMISSION_TYPE|  ADMISSION_LOCATION|  DISCHARGE_LOCATION|INSURANCE|LANGUAGE|         RELIGION|MARITAL_STATUS|           ETHNICITY|          EDREGTIME|          EDOUTTIME|           DIAGNOSIS|HOSPITAL_EXPIRE_FLAG|HAS_CHARTEVENTS_DATA|
+------+----------+-------+-------------------+-------------------+-------------------+--------------+--------------------+--------------------+---------+--------+-----------------+--------------+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+
|    21|        22| 165315|2196-04-09 12:26:00|2196-04-10 15:54:00|               null|     EMERGENCY|EMERGENCY ROOM ADMIT|DISC-TRAN CANCER/...|  Private|    null|     UNOBTAINABLE|       MARRIED|               WHITE|2196-04-09 10:06:00|2196-04-09 13:24:00|BENZODIAZEPINE OV...|                   0|                   1|
|    22|        23| 152223|2153-09-03 07:15:00|2153-09-08 19:10:00|               null|      ELECTIVE|PHYS REFERRAL/NOR...|    HOME HEALTH CARE| Medicare|    null|         CATHOLIC|       MARRIED|               WHITE|               null|               null|CORONARY ARTERY D...|                   0|                   1|
|    23|        23| 124321|2157-10-18 19:34:00|2157-10-25 14:00:00|               null|     EMERGENCY|TRANSFER FROM HOS...|    HOME HEALTH CARE| Medicare|    ENGL|         CATHOLIC|       MARRIED|               WHITE|               null|               null|          BRAIN MASS|                   0|                   1|
|    24|        24| 161859|2139-06-06 16:14:00|2139-06-09 12:48:00|               null|     EMERGENCY|TRANSFER FROM HOS...|                HOME|  Private|    null|PROTESTANT QUAKER|        SINGLE|               WHITE|               null|               null|INTERIOR MYOCARDI...|                   0|                   1|
|    25|        25| 129635|2160-11-02 02:06:00|2160-11-05 14:55:00|               null|     EMERGENCY|EMERGENCY ROOM ADMIT|                HOME|  Private|    null|     UNOBTAINABLE|       MARRIED|               WHITE|2160-11-02 01:01:00|2160-11-02 04:27:00|ACUTE CORONARY SY...|                   0|                   1|
|    26|        26| 197661|2126-05-06 15:16:00|2126-05-13 15:00:00|               null|     EMERGENCY|TRANSFER FROM HOS...|                HOME| Medicare|    null|         CATHOLIC|        SINGLE|UNKNOWN/NOT SPECI...|               null|               null|              V-TACH|                   0|                   1|
|    27|        27| 134931|2191-11-30 22:16:00|2191-12-03 14:45:00|               null|       NEWBORN|PHYS REFERRAL/NOR...|                HOME|  Private|    null|         CATHOLIC|          null|               WHITE|               null|               null|             NEWBORN|                   0|                   1|
|    28|        28| 162569|2177-09-01 07:15:00|2177-09-06 16:00:00|               null|      ELECTIVE|PHYS REFERRAL/NOR...|    HOME HEALTH CARE| Medicare|    null|         CATHOLIC|       MARRIED|               WHITE|               null|               null|CORONARY ARTERY D...|                   0|                   1|
|    29|        30| 104557|2172-10-14 14:17:00|2172-10-19 14:37:00|               null|        URGENT|TRANSFER FROM HOS...|    HOME HEALTH CARE| Medicare|    null|         CATHOLIC|       MARRIED|UNKNOWN/NOT SPECI...|               null|               null|UNSTABLE ANGINA\CATH|                   0|                   1|
|    30|        31| 128652|2108-08-22 23:27:00|2108-08-30 15:00:00|2108-08-30 15:00:00|     EMERGENCY|TRANSFER FROM HOS...|        DEAD/EXPIRED| Medicare|    null|         CATHOLIC|       MARRIED|               WHITE|               null|               null|  STATUS EPILEPTICUS|                   1|                   1|
+------+----------+-------+-------------------+-------------------+-------------------+--------------+--------------------+--------------------+---------+--------+-----------------+--------------+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+
only showing top 10 rows

In [57]:
selected_columns = ('SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'DISCHTIME', 'DEATHTIME', 'ADMISSION_TYPE')
df_admission_selected = df_admission.select(*selected_columns)
df_admission_selected.show(10)

+----------+-------+-------------------+-------------------+-------------------+--------------+
|SUBJECT_ID|HADM_ID|          ADMITTIME|          DISCHTIME|          DEATHTIME|ADMISSION_TYPE|
+----------+-------+-------------------+-------------------+-------------------+--------------+
|        22| 165315|2196-04-09 12:26:00|2196-04-10 15:54:00|               null|     EMERGENCY|
|        23| 152223|2153-09-03 07:15:00|2153-09-08 19:10:00|               null|      ELECTIVE|
|        23| 124321|2157-10-18 19:34:00|2157-10-25 14:00:00|               null|     EMERGENCY|
|        24| 161859|2139-06-06 16:14:00|2139-06-09 12:48:00|               null|     EMERGENCY|
|        25| 129635|2160-11-02 02:06:00|2160-11-05 14:55:00|               null|     EMERGENCY|
|        26| 197661|2126-05-06 15:16:00|2126-05-13 15:00:00|               null|     EMERGENCY|
|        27| 134931|2191-11-30 22:16:00|2191-12-03 14:45:00|               null|       NEWBORN|
|        28| 162569|2177-09-01 07:15:00|2177-09-06 16:00:00|               null|      ELECTIVE|
|        30| 104557|2172-10-14 14:17:00|2172-10-19 14:37:00|               null|        URGENT|
|        31| 128652|2108-08-22 23:27:00|2108-08-30 15:00:00|2108-08-30 15:00:00|     EMERGENCY|
+----------+-------+-------------------+-------------------+-------------------+--------------+
only showing top 10 rows

In [59]:
# sort by subject_ID and admission date
df_admission_sorted = df_admission_selected.sort(asc('SUBJECT_ID'), asc('ADMITTIME'))
df_admission_sorted.show(10)

+----------+-------+-------------------+-------------------+-------------------+--------------+
|SUBJECT_ID|HADM_ID|          ADMITTIME|          DISCHTIME|          DEATHTIME|ADMISSION_TYPE|
+----------+-------+-------------------+-------------------+-------------------+--------------+
|         2| 163353|2138-07-17 19:04:00|2138-07-21 15:48:00|               null|       NEWBORN|
|         3| 145834|2101-10-20 19:08:00|2101-10-31 13:58:00|               null|     EMERGENCY|
|         4| 185777|2191-03-16 00:28:00|2191-03-23 18:41:00|               null|     EMERGENCY|
|         5| 178980|2103-02-02 04:31:00|2103-02-04 12:15:00|               null|       NEWBORN|
|         6| 107064|2175-05-30 07:15:00|2175-06-15 16:00:00|               null|      ELECTIVE|
|         7| 118037|2121-05-23 15:05:00|2121-05-27 11:57:00|               null|       NEWBORN|
|         8| 159514|2117-11-20 10:22:00|2117-11-24 14:20:00|               null|       NEWBORN|
|         9| 150750|2149-11-09 13:06:00|2149-11-14 10:15:00|2149-11-14 10:15:00|     EMERGENCY|
|        10| 184167|2103-06-28 11:36:00|2103-07-06 12:10:00|               null|       NEWBORN|
|        11| 194540|2178-04-16 06:18:00|2178-05-11 19:00:00|               null|     EMERGENCY|
+----------+-------+-------------------+-------------------+-------------------+--------------+
only showing top 10 rows

In [0]:
df_admission_sorted.createOrReplaceTempView("admission_sorted")
df_admission_row_num = spark.sql("""
    select *, row_number() over(partition by SUBJECT_ID order by ADMITTIME) as row_num from admission_sorted
""")

df_admission_row_num.createOrReplaceTempView("admission_row_num")

In [0]:
df_admission_shifted = spark.sql(""" 
select SUBJECT_ID,
    HADM_ID,
    DISCHTIME,
    DEATHTIME,
    ADMITTIME,
    ADMISSION_TYPE,
    case when NEXT_ADMISSION_TYPE IS NULL then NULL else NEXT_ADMITTIME end as NEXT_ADMITTIME,
    NEXT_ADMISSION_TYPE
from(
select t1.*, 
       t2.ADMITTIME AS NEXT_ADMITTIME, 
       CASE WHEN t2.ADMISSION_TYPE='ELECTIVE' THEN NULL else t2.ADMISSION_TYPE end as NEXT_ADMISSION_TYPE 
from admission_row_num t1 left join admission_row_num t2 on t1.SUBJECT_ID = t2.SUBJECT_ID AND t2.row_num -1 = t1.row_num) subt
""")

In [66]:
df_admission_shifted.show(10)

+----------+-------+-------------------+-------------------+-------------------+--------------+--------------+-------------------+
|SUBJECT_ID|HADM_ID|          DISCHTIME|          DEATHTIME|          ADMITTIME|ADMISSION_TYPE|NEXT_ADMITTIME|NEXT_ADMISSION_TYPE|
+----------+-------+-------------------+-------------------+-------------------+--------------+--------------+-------------------+
|       148| 199488|2107-10-08 13:35:00|               null|2107-09-05 14:58:00|     EMERGENCY|          null|               null|
|       463| 197296|2198-10-09 16:41:00|               null|2198-10-05 16:43:00|     EMERGENCY|          null|               null|
|       471| 135879|2122-07-30 17:50:00|2122-07-30 17:50:00|2122-07-22 14:04:00|     EMERGENCY|          null|               null|
|       833| 179120|2137-05-27 14:19:00|               null|2137-05-23 04:46:00|       NEWBORN|          null|               null|
|      1088| 172055|2170-04-08 17:20:00|               null|2170-03-22 05:20:00|     EMERGENCY|          null|               null|
|      1238| 128225|2197-03-29 15:30:00|               null|2197-03-27 07:21:00|       NEWBORN|          null|               null|
|      1342| 178263|2107-03-19 15:14:00|2107-03-19 15:14:00|2107-02-27 23:11:00|     EMERGENCY|          null|               null|
|      1580| 111714|2126-03-07 12:45:00|               null|2126-02-23 18:08:00|     EMERGENCY|          null|               null|
|      1591| 106444|2106-04-03 12:53:00|               null|2106-04-01 12:17:00|       NEWBORN|          null|               null|
|      1645| 162996|2147-03-16 14:05:00|               null|2147-03-06 07:15:00|      ELECTIVE|          null|               null|
+----------+-------+-------------------+-------------------+-------------------+--------------+--------------+-------------------+
only showing top 10 rows

In [0]:
# backfill data
def fill_backward(df, id_column, key_column, fill_column):

    # Fill null's with last *non null* value in the window
    ff = df.withColumn(
        'fill_bwd',
        F.last(fill_column, True) # True: fill with last non-null
        .over(
            Window.partitionBy(id_column)
            .orderBy(desc(key_column))
            .rowsBetween(-sys.maxsize, 0))
        )

    # Drop the old column and rename the new column
    ff_out = ff.drop(fill_column).withColumnRenamed('fill_bwd', fill_column)

    return ff_out

In [0]:
df_admission_shifted = df_admission_shifted.sort(asc('SUBJECT_ID'), asc('ADMITTIME'))
df_readmit = fill_backward(df_admission_shifted, "SUBJECT_ID", "ADMITTIME", "NEXT_ADMITTIME")
df_readmit = fill_backward(df_readmit, "SUBJECT_ID", "ADMITTIME", "NEXT_ADMISSION_TYPE")

In [69]:
df_readmit.printSchema()

root
 |-- SUBJECT_ID: integer (nullable = true)
 |-- HADM_ID: integer (nullable = true)
 |-- DISCHTIME: timestamp (nullable = true)
 |-- DEATHTIME: timestamp (nullable = true)
 |-- ADMITTIME: timestamp (nullable = true)
 |-- ADMISSION_TYPE: string (nullable = true)
 |-- NEXT_ADMITTIME: timestamp (nullable = true)
 |-- NEXT_ADMISSION_TYPE: string (nullable = true)

In [0]:
# res.show(100)
timeFmt = "yyyy-MM-dd'T'HH:mm:ss.SSS"
timeDiff = (F.unix_timestamp('NEXT_ADMITTIME', format=timeFmt)
            - F.unix_timestamp('ADMITTIME', format=timeFmt))

# res = res.withColumn("DAYS_NEXT_ADMIT", timeDiff / 86400)

df_readmit = df_readmit.withColumn("DAYS_NEXT_ADMIT", F.datediff('NEXT_ADMITTIME', 'ADMITTIME'))

In [71]:
df_readmit.show(100)

+----------+-------+-------------------+-------------------+-------------------+--------------+-------------------+-------------------+---------------+
|SUBJECT_ID|HADM_ID|          DISCHTIME|          DEATHTIME|          ADMITTIME|ADMISSION_TYPE|     NEXT_ADMITTIME|NEXT_ADMISSION_TYPE|DAYS_NEXT_ADMIT|
+----------+-------+-------------------+-------------------+-------------------+--------------+-------------------+-------------------+---------------+
|       148| 199488|2107-10-08 13:35:00|               null|2107-09-05 14:58:00|     EMERGENCY|               null|               null|           null|
|       463| 197296|2198-10-09 16:41:00|               null|2198-10-05 16:43:00|     EMERGENCY|               null|               null|           null|
|       471| 135879|2122-07-30 17:50:00|2122-07-30 17:50:00|2122-07-22 14:04:00|     EMERGENCY|               null|               null|           null|
|       833| 179120|2137-05-27 14:19:00|               null|2137-05-23 04:46:00|       NEWBORN|               null|               null|           null|
|      1088| 172055|2170-04-08 17:20:00|               null|2170-03-22 05:20:00|     EMERGENCY|               null|               null|           null|
|      1238| 128225|2197-03-29 15:30:00|               null|2197-03-27 07:21:00|       NEWBORN|               null|               null|           null|
|      1342| 178263|2107-03-19 15:14:00|2107-03-19 15:14:00|2107-02-27 23:11:00|     EMERGENCY|               null|               null|           null|
|      1580| 111714|2126-03-07 12:45:00|               null|2126-02-23 18:08:00|     EMERGENCY|               null|               null|           null|
|      1591| 106444|2106-04-03 12:53:00|               null|2106-04-01 12:17:00|       NEWBORN|               null|               null|           null|
|      1645| 162996|2147-03-16 14:05:00|               null|2147-03-06 07:15:00|      ELECTIVE|               null|               null|           null|
|      1829| 108935|2187-05-01 15:45:00|               null|2187-04-17 14:00:00|     EMERGENCY|               null|               null|           null|
|      1959| 136513|2147-03-26 10:54:00|               null|2147-03-24 08:02:00|       NEWBORN|               null|               null|           null|
|      2122| 185063|2158-04-16 10:36:00|               null|2158-04-11 05:22:00|     EMERGENCY|               null|               null|           null|
|      2142| 157922|2171-05-13 10:42:00|               null|2171-05-11 09:36:00|       NEWBORN|               null|               null|           null|
|      2366| 144105|2150-02-13 13:07:00|               null|2149-11-14 20:28:00|     EMERGENCY|               null|               null|           null|
|      2659| 181950|2172-09-01 12:22:00|               null|2172-08-31 13:29:00|     EMERGENCY|               null|               null|           null|
|      3175| 185852|2138-04-01 16:32:00|               null|2138-03-26 11:26:00|     EMERGENCY|               null|               null|           null|
|      3794| 131087|2107-02-03 19:00:00|2107-02-03 19:00:00|2107-01-25 17:04:00|     EMERGENCY|               null|               null|           null|
|      3918| 115437|2181-07-05 16:05:00|               null|2181-06-25 23:39:00|     EMERGENCY|               null|               null|           null|
|      3997| 109247|2105-09-03 20:05:00|               null|2105-08-24 07:15:00|      ELECTIVE|               null|               null|           null|
|      4101| 112623|2106-09-19 15:36:00|               null|2106-09-17 11:45:00|      ELECTIVE|               null|               null|           null|
|      4101| 161951|2103-01-30 13:55:00|               null|2103-01-22 18:01:00|     EMERGENCY|               null|               null|           null|
|      4519| 121189|2145-08-05 15:08:00|               null|2145-08-02 08:50:00|       NEWBORN|               null|               null|           null|
|      4818| 162297|2172-02-09 12:55:00|               null|2172-02-05 03:00:00|       NEWBORN|               null|               null|           null|
|      4900| 115281|2203-10-31 13:51:00|               null|2203-10-26 13:15:00|      ELECTIVE|               null|               null|           null|
|      4900| 117413|2203-07-08 14:52:00|               null|2203-06-29 08:00:00|      ELECTIVE|               null|               null|           null|
|      4900| 196122|2193-04-22 12:05:00|               null|2193-04-17 08:00:00|      ELECTIVE|               null|               null|           null|
|      4935| 166829|2119-02-09 16:35:00|               null|2119-01-19 21:11:00|     EMERGENCY|               null|               null|           null|
|      5156| 140684|2134-04-30 11:30:00|               null|2134-04-28 04:07:00|       NEWBORN|               null|               null|           null|
|      5300| 165512|2124-03-01 13:54:00|               null|2124-02-28 11:34:00|       NEWBORN|               null|               null|           null|
|      5518| 161291|2117-08-14 14:15:00|               null|2117-04-12 21:45:00|      ELECTIVE|               null|               null|           null|
|      5803| 108321|2173-01-02 13:20:00|               null|2172-12-31 19:22:00|     EMERGENCY|               null|               null|           null|
|      6336| 124369|2127-12-05 21:47:00|               null|2127-11-19 17:39:00|     EMERGENCY|               null|               null|           null|
|      6357| 183125|2130-09-30 11:30:00|               null|2130-09-28 10:07:00|       NEWBORN|               null|               null|           null|
|      6397| 139429|2163-06-11 13:30:00|               null|2163-06-05 07:15:00|      ELECTIVE|               null|               null|           null|
|      6466| 165091|2181-10-22 15:54:00|               null|2181-09-05 20:55:00|     EMERGENCY|               null|               null|           null|
|      6466| 195703|2180-05-16 17:55:00|               null|2180-04-29 17:12:00|        URGENT|2181-09-05 20:55:00|          EMERGENCY|            494|
|      6466| 185829|2178-07-27 16:33:00|               null|2178-07-09 16:27:00|     EMERGENCY|2180-04-29 17:12:00|             URGENT|            660|
|      6620| 140314|2134-03-08 16:45:00|               null|2134-02-27 16:23:00|     EMERGENCY|               null|               null|           null|
|      6654| 132971|2129-11-15 12:00:00|2129-11-15 12:00:00|2129-11-07 01:10:00|     EMERGENCY|               null|               null|           null|
|      6658| 137737|2123-10-27 14:55:00|               null|2123-10-16 22:09:00|     EMERGENCY|               null|               null|           null|
|      7240| 126760|2147-12-10 12:02:00|               null|2147-12-08 06:35:00|       NEWBORN|               null|               null|           null|
|      7253| 182255|2172-08-04 17:27:00|               null|2172-07-30 18:32:00|     EMERGENCY|               null|               null|           null|
|      7253| 172039|2167-11-04 18:00:00|               null|2167-10-28 09:04:00|     EMERGENCY|2172-07-30 18:32:00|          EMERGENCY|           1737|
|      7340| 186783|2102-12-12 12:03:00|               null|2102-12-08 22:23:00|     EMERGENCY|               null|               null|           null|
|      7554| 118388|2191-11-21 17:25:00|               null|2191-11-06 19:51:00|     EMERGENCY|               null|               null|           null|
|      7554| 188531|2191-04-18 16:10:00|               null|2191-04-04 18:10:00|     EMERGENCY|2191-11-06 19:51:00|          EMERGENCY|            216|
|      7754| 118556|2195-10-02 16:23:00|               null|2195-09-17 08:29:00|       NEWBORN|               null|               null|           null|
|      7833| 107693|2142-01-07 13:04:00|               null|2142-01-05 12:29:00|       NEWBORN|               null|               null|           null|
|      7880| 184025|2165-12-01 18:50:00|2165-12-01 18:50:00|2165-12-01 15:09:00|     EMERGENCY|               null|               null|           null|
|      7880| 172698|2165-12-01 08:00:00|2165-12-01 08:00:00|2165-11-30 02:27:00|     EMERGENCY|2165-12-01 15:09:00|          EMERGENCY|              1|
|      7982| 119945|2180-04-21 13:30:00|               null|2180-03-16 05:07:00|       NEWBORN|               null|               null|           null|
|      7993| 185219|2161-01-20 14:45:00|               null|2161-01-18 08:52:00|     EMERGENCY|               null|               null|           null|
|      8086| 194197|2145-09-15 13:35:00|               null|2145-08-19 15:52:00|     EMERGENCY|               null|               null|           null|
|      8086| 178776|2145-07-05 14:15:00|               null|2145-06-22 14:55:00|     EMERGENCY|2145-08-19 15:52:00|          EMERGENCY|             58|
|      8389| 122962|2111-11-22 05:15:00|2111-11-22 05:15:00|2111-11-15 03:02:00|     EMERGENCY|               null|               null|           null|
|      8389| 176340|2111-05-28 16:30:00|               null|2111-05-14 23:59:00|     EMERGENCY|2111-11-15 03:02:00|          EMERGENCY|            185|
|      8592| 170333|2148-09-04 11:23:00|               null|2148-09-02 06:46:00|       NEWBORN|               null|               null|           null|
|      8638| 114643|2132-03-04 16:30:00|               null|2132-02-27 16:33:00|       NEWBORN|               null|               null|           null|
|      9376| 195808|2166-10-05 17:15:00|               null|2166-10-04 08:14:00|     EMERGENCY|               null|               null|           null|
|      9427| 116758|2101-03-14 17:40:00|               null|2101-03-07 02:07:00|     EMERGENCY|               null|               null|           null|
|      9465| 129486|2164-10-17 03:01:00|2164-10-17 03:01:00|2164-09-19 10:30:00|     EMERGENCY|               null|               null|           null|
|      9852| 159764|2153-06-08 14:40:00|               null|2153-06-04 11:15:00|      ELECTIVE|               null|               null|           null|
|      9900| 102643|2153-01-18 17:00:00|               null|2153-01-04 18:27:00|     EMERGENCY|               null|               null|           null|
|      9900| 187684|2151-01-22 11:22:00|               null|2151-01-10 18:59:00|      ELECTIVE|2153-01-04 18:27:00|          EMERGENCY|            725|
|      9900| 166180|2150-12-30 13:58:00|               null|2150-12-07 14:00:00|      ELECTIVE|2153-01-04 18:27:00|          EMERGENCY|            759|
|     10206| 163365|2154-04-05 14:37:00|               null|2154-03-13 12:00:00|     EMERGENCY|               null|               null|           null|
|     10206| 165403|2150-12-29 10:45:00|               null|2150-12-02 22:59:00|     EMERGENCY|2154-03-13 12:00:00|          EMERGENCY|           1197|
|     10623| 147264|2169-02-11 17:20:00|               null|2169-02-07 18:49:00|     EMERGENCY|               null|               null|           null|
|     10623| 181733|2162-05-02 11:50:00|               null|2162-04-19 19:21:00|     EMERGENCY|2169-02-07 18:49:00|          EMERGENCY|           2486|
|     10817| 120284|2137-02-22 21:00:00|2137-02-22 21:00:00|2137-02-18 00:10:00|     EMERGENCY|               null|               null|           null|
|     11033| 111376|2109-05-15 16:11:00|               null|2109-05-09 13:49:00|     EMERGENCY|               null|               null|           null|
|     11141| 161651|2138-01-27 14:30:00|               null|2138-01-17 16:55:00|     EMERGENCY|               null|               null|           null|
|     11317| 150323|2134-02-07 14:30:00|               null|2134-02-02 02:33:00|     EMERGENCY|               null|               null|           null|
|     11317| 164777|2133-07-13 13:25:00|               null|2133-07-09 15:30:00|      ELECTIVE|2134-02-02 02:33:00|          EMERGENCY|            208|
|     11458| 150759|2134-03-26 13:30:00|               null|2134-03-13 15:26:00|       NEWBORN|               null|               null|           null|
|     11748| 187928|2137-08-15 13:10:00|               null|2137-08-11 23:24:00|     EMERGENCY|               null|               null|           null|
|     11858| 177531|2163-01-24 21:31:00|2163-01-24 21:31:00|2163-01-21 21:20:00|     EMERGENCY|               null|               null|           null|
|     12027| 102122|2123-04-16 16:45:00|               null|2123-04-13 09:45:00|      ELECTIVE|               null|               null|           null|
|     12046| 188024|2170-11-15 13:00:00|               null|2170-11-11 12:30:00|       NEWBORN|               null|               null|           null|
|     12799| 120131|2202-05-08 00:15:00|2202-05-08 00:15:00|2202-04-02 11:26:00|     EMERGENCY|               null|               null|           null|
|     12799| 119643|2199-01-18 19:20:00|               null|2199-01-03 14:42:00|     EMERGENCY|2202-04-02 11:26:00|          EMERGENCY|           1184|
|     12799| 152482|2198-08-05 16:33:00|               null|2198-07-20 00:42:00|     EMERGENCY|2199-01-03 14:42:00|          EMERGENCY|            167|
|     12940| 170525|2197-07-29 18:28:00|               null|2197-07-28 10:30:00|      ELECTIVE|               null|               null|           null|
|     12940| 199865|2197-03-16 18:40:00|               null|2197-03-10 00:28:00|     EMERGENCY|               null|               null|           null|
|     13289| 165604|2103-11-22 16:35:00|               null|2103-11-12 09:00:00|      ELECTIVE|               null|               null|           null|
|     13289| 119078|2103-08-09 13:20:00|               null|2103-07-26 09:24:00|     EMERGENCY|               null|               null|           null|
|     13623| 176071|2106-07-22 18:45:00|               null|2106-06-30 19:16:00|     EMERGENCY|               null|               null|           null|
|     13832| 180783|2114-07-17 18:00:00|               null|2114-06-22 09:09:00|       NEWBORN|               null|               null|           null|
|     13840| 103467|2172-11-09 13:05:00|               null|2172-10-30 15:05:00|        URGENT|               null|               null|           null|
|     14450| 154608|2174-08-09 16:05:00|               null|2174-08-02 08:39:00|     EMERGENCY|               null|               null|           null|
|     14570| 166162|2109-11-01 13:05:00|               null|2109-10-28 09:23:00|       NEWBORN|               null|               null|           null|
|     14832| 167529|2115-08-23 14:08:00|               null|2115-08-21 04:47:00|       NEWBORN|               null|               null|           null|
|     15447| 147533|2195-12-11 19:04:00|               null|2195-12-07 00:31:00|     EMERGENCY|               null|               null|           null|
|     15619| 175622|2109-11-20 13:30:00|               null|2109-10-30 13:24:00|     EMERGENCY|               null|               null|           null|
|     15727| 138879|2193-04-15 13:20:00|               null|2193-03-31 01:27:00|     EMERGENCY|               null|               null|           null|
|     15727| 131370|2193-03-27 10:24:00|               null|2193-03-22 20:05:00|     EMERGENCY|2193-03-31 01:27:00|          EMERGENCY|              9|
|     15846| 195641|2133-04-26 12:00:00|               null|2133-04-06 07:15:00|      ELECTIVE|               null|               null|           null|
|     16339| 144584|2199-12-22 16:30:00|               null|2199-12-19 01:23:00|       NEWBORN|               null|               null|           null|
|     16386| 118918|2138-06-12 13:08:00|               null|2138-06-09 15:31:00|       NEWBORN|               null|               null|           null|
+----------+-------+-------------------+-------------------+-------------------+--------------+-------------------+-------------------+---------------+
only showing top 100 rows

In [72]:
# res.show(100)
df_readmit[['DAYS_NEXT_ADMIT']].describe().show()

+-------+------------------+
|summary|   DAYS_NEXT_ADMIT|
+-------+------------------+
|  count|             11399|
|   mean|420.37599789455214|
| stddev| 638.6542232864784|
|    min|                 0|
|    max|              4121|
+-------+------------------+

In [0]:
# res.write.csv('processed_admit.csv')
# df_readmit.toPandas().to_csv('processed_admit_2.csv')

In [0]:
# load csv to spark dataframe, got some errors
# noteevents_file_loc = './mimic-iii-clinical-database-1.4/NOTEEVENTS.csv'
# df_noteevents = spark.read.csv(noteevents_file_loc, inferSchema=True, header=True, delimiter)

In [53]:
import pandas as pd
from pyspark.sql.types import *

# use pandas to load data, got out of memory erro when using spark
note_file_path = "./mimic-iii-clinical-database-1.4/NOTEEVENTS.csv"
df_notes = pd.read_csv(note_file_path, dtype={'TEXT': str})
# df_note = spark.createDataFrame(pd_notes)
df_notes = df_notes[['SUBJECT_ID', 'HADM_ID', 'CATEGORY', 'TEXT']]

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [54]:
df_notes.head()

   SUBJECT_ID  ...                                               TEXT
0       22532  ...  Admission Date:  [**2151-7-16**]       Dischar...
1       13702  ...  Admission Date:  [**2118-6-2**]       Discharg...
2       13702  ...  Admission Date:  [**2119-5-4**]              D...
3       13702  ...  Admission Date:  [**2124-7-21**]              ...
4       26880  ...  Admission Date:  [**2162-3-3**]              D...

[5 rows x 4 columns]

In [85]:
# merge df_readmit and df_notes
df_notes_selected = df_notes.loc[df_notes.CATEGORY == 'Discharge summary']

# choose the last note summary
df_notes_selected = (df_notes_selected.groupby(['SUBJECT_ID','HADM_ID']).nth(-1)).reset_index()

df_readmit_notes = pd.merge(df_readmit.toPandas()[['SUBJECT_ID','HADM_ID','ADMITTIME','DISCHTIME','DAYS_NEXT_ADMIT',\
                                'NEXT_ADMITTIME','ADMISSION_TYPE','DEATHTIME']],
                        df_notes_selected[['SUBJECT_ID','HADM_ID','TEXT']], 
                        on = ['SUBJECT_ID','HADM_ID'],
                        how = 'left')
# assert len(df_readmit.toPandas()) == len(df_adm_notes), 'Number of rows increased'

/usr/local/lib/python3.6/dist-packages/pyarrow/__init__.py:157: UserWarning: pyarrow.open_stream is deprecated, please use pyarrow.ipc.open_stream
  warnings.warn("pyarrow.open_stream is deprecated, please use "

In [0]:
df_readmit_notes.groupby('ADMISSION_TYPE').apply(
    lambda g: g.TEXT.isnull().sum())/df_readmit_notes.groupby('ADMISSION_TYPE').size()

# remove newborn type
df_readmit_notes_clean = df_readmit_notes.loc[df_readmit_notes.ADMISSION_TYPE != 'NEWBORN'].copy()

In [0]:
# consider 30 re-admission
df_readmit_notes_clean['OUTPUT_LABEL'] = (df_readmit_notes_clean.DAYS_NEXT_ADMIT < 30).astype('int')

In [89]:
df_readmit_notes_clean[['OUTPUT_LABEL']].sum()

OUTPUT_LABEL    2139
dtype: int64

In [0]:
# generate training/testing data
# shuffle the samples
df_readmit_notes_clean = df_readmit_notes_clean.sample(n=len(df_readmit_notes_clean), random_state=1024).reset_index(drop=True)

# prepare validation and test data 
df_valid_test = df_readmit_notes_clean.sample(frac=0.30, random_state=1024)
df_test = df_valid_test.sample(frac=0.5, random_state=1024)
df_valid = df_valid_test.drop(df_test.index)

# prepare training data
df_train_all = df_readmit_notes_clean.drop(df_valid_test.index)

In [0]:
# from pyspark.sql import SparkSession

# ss = SparkSession \
#   .builder \
#   .appName("Example") \
#   .config("spark.driver.memory", "16g")\
#   .getOrCreate()

In [25]:
# Setup a Spark SQL context and read in the pandas dataframe to a Spark df
# spark.conf.set("spark.sql.execution.arrow.enabled", "true")

# df_note = spark.createDataFrame(df_notes)

spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/session.py:714: UserWarning: createDataFrame attempted Arrow optimization because 'spark.sql.execution.arrow.enabled' is set to true; however, failed by the reason below:
  An error occurred while calling z:org.apache.spark.sql.api.python.PythonSQLUtils.readArrowStreamFromFile.
: java.lang.OutOfMemoryError: Java heap space

Attempting non-optimization as 'spark.sql.execution.arrow.fallback.enabled' is set to true.
  warnings.warn(msg)

Py4JJavaError: ignored

In [0]:
# df_admission.show()